    body {
        width: 100%;
        background-color: #f1f1f1!important;
    }
    
    .header h1 {
        text-align: center;
        margin: 10px 0;
        font-size: 38px;
        margin-top: 5%;
    }
    
    .left {
        float: left;
        width: 60%;
        margin-left: 1.5%;
    }
    
    .left1 {
        background: white;
    }
    
    .shadow {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .container {
        background: #f1f1f1;
    }
    
    .container1 {
        padding: 0 10px;
    }
    
    .container2 {
        margin-left: 1.5%;
    }
    
    .container2 span:hover {
        background: #D8D8D8;
    }
    
    .container2_right {
        float: right;
        padding: 0px 40px;
    }
    
    .right {
        float: left;
        width: 35%;
        padding: 0px 22px;
    }
    
    .right1 {
        background: white;
    }
    
    .container3 {
        padding: 0 10px;
    }
    
    .right2 {
        background: white;
    }
    
    .right4 {
        background: white;
    }
    
    .menu li {
        list-style-type: none;
    }
    
    .menu li:hover {
        background: grey;
        color: black;
    }
    
    .footer {
        float: left;
        background: gray;
        width: 100%;
        padding: 40px 20px;
        margin-top: 2.5%;
    }
    
    .footer1 {
        background: #585858;
        color: white;
        padding: 20px 25px;
    }
    
    .footer1:hover {
        background: #A4A4A4;
        cursor: not-allowed;
    }
    
    .footer2 {
        background: black;
        color: white;
        padding: 20px 30px;
    }
    
    .footer2:hover {
        background: white;
        color: black;
    }
    
    @media screen and ( max-width:1250px) {
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
        }
    }