.header {
  flex-direction: column;
  padding: 10px 0;
  height: 90px;
}

.header ul li:nth-child(1),
.header ul li:nth-child(2)
 {
  display: none;
}

.header h1 {
  font-size: 40px;
}

.row1,
.row2 {
  display: none;
}

#showcase h1 {
  font-size: 40px;
}

#showcase p {
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer div {
  margin-bottom: 20px;
}


/* Contact */
#showcase1 {
  height: 100vh;
  position: relative;
}
#showcase1::before {
  top: 0;
}

#contact .content {
 padding: 20px 30px;
}

#contact .find-us {
  flex-direction: column;
}